@mixin transparency {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

@mixin container-position($top, $right, $bot: $top, $left: $right) {
  max-width: 1448px;
  padding: $top $right $bot $left;
  margin: 0 auto;
}

@mixin desktop() {
  @media (min-width: 855px) {
    @content
  }
}

@mixin mobile() {
  @media (max-width: 356px) {
    @content
  }
}

@mixin laptop() {
  @media (min-width: 562px) {
    @content
  }
}