@use '../../../sass/abstracts' as *;

.backBtn {
  width: 8rem;
  height: 3rem;
  padding: 0;
  border: 1px solid $c-dark-grey;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    @include transparency;
  }

  @include laptop {
    width: 12rem;
    height: 4rem;
  }
}