@use '../../sass/abstracts' as *;

.like {
  width: 24px;
  height: 24px;
  align-self: end;
  cursor: pointer;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));

  &:hover {
    @include transparency;
  }
}

.likePosition {
  margin-top: 6px;
  align-self: center;

  @include desktop {
    margin: 0;
  }
}