@use '../../sass/abstracts' as *;

.detailed {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include container-position(16px, 0);
}

.img {
  width: 100%;
  height: 20rem;
  object-fit: none;
  object-position: center;
  background: -webkit-gradient(linear,left bottom, left top,from(rgba(0, 0, 0, 0.15)),color-stop(50%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom,rgba(0, 0, 0, 0.15) 0%,rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(360deg,rgba(0, 0, 0, 0.15) 0%,rgba(255, 255, 255, 0) 50%);
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
  gap: 1.6rem;
}

.productAbout {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.actionsWrapper {
  display: flex;
  justify-content: space-around;
  gap: 1.4rem;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.4rem;
}

@include mobile {
  .actionsWrapper {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  .btnWrapper {
    flex-direction: column-reverse;
  }

  .pricedWrapper {
    align-items: center;
  }
}

@include desktop {
  .detailed {
    @include container-position(24px, 24px);
    flex-direction: row;
  }

  .img {
    max-width: 30rem;
    height: 30rem;
    border: 1px solid var(--c-light-grey);
    background: none;
  }

  .productInfo {
    gap: 2.1rem;
    padding: 0;
  }

  .actionsWrapper {
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    gap: 1.4rem;
  }

  .pricedWrapper {
    flex-direction: row;
  }

  .btnWrapper {
    flex-direction: row-reverse;
  }

  .counterInput {
    width: 10rem;
  }
}