@use '../../sass/abstracts/index' as *;

.form {
  position: relative;
  height: 4rem;
}

.input {
  width: 17rem;
  padding: 1.2rem 0 1.2rem 3.2rem;
  border: none;
  font-size: 1.4rem;
  line-height: 1.143em;
  outline: none;
  color: $c-dark-grey;

  &:focus {
    border-bottom: 2px solid $c-orange;

    + .searchIcon {
      fill: $c-orange;
    }
  }

  &::placeholder {
    color: #323232;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: $c-dark-grey;
  }

  @include desktop {
    width: 20rem;
  }
}

.searchIcon {
  position: absolute;
  top: 0.6rem;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
}