@use '../../sass/abstracts' as *;

.priceCounterWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include mobile {
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
  }
}

.price {
  margin: 0;
  color: $c-orange;
  font-weight: $f-weight-sm;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  @include desktop {
    min-width: 100px;
  }
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid $c-dark-grey;
}

.input {
  padding: 0;
  width: 60px;
  height: 38px;
  font-weight: $f-weight-sm;
  font-size: 24px;
  line-height: 28px;
  border: none;
  border-left: 1px solid $c-dark-grey;
  border-right: 1px solid $c-dark-grey;
  text-align: center;
  outline: none;
}